@model ProductDTO



<div id="Card" style="display:flex" class="card  col-sm-4 m-4" style="width: 30rem;">
   
    <div class="card-body">
        <h5> Name : @Model.Name</h5>
        <h5 class="card-text">Price :  @Model.Price</h5>
        <h5 class="card-text"> CreationDate : @Model.CreationDate</h5>
        <h5 class="card-text"> StartDate : @Model.StartDate</h5>
        <h5 class="card-text"> Duration : @Model.Duration Months</h5>
     
    </div>
</div>